@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;   
}
header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inter-bold;
}
h1{
    font-size: 1.8em;
}

h6{
    font-size: 0.2em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}
header, nav, footer {
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 94, 0);
    color: white;
    border-radius: 9px;

}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgb(219, 216, 216);
    border-radius: 9px;
}
nav select {
    margin-right: 10px;
}
nav .category-buttons {
    display: flex;
    align-items: center;
    width: 80%;
}
nav .category-buttons button {
    margin-right: 10px;
}
img {
    width: 150px;
    height: 170px;
}

div{
    width: 300px;
    padding: 3%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.PriceDiv{
    width: 170px;
    display: flex;
    justify-content: space-around;
}

h3{
    font-size: 0.6em;
}
p{
    font-size: 0.8em;
}
.PriceDiv{
    display: flex;
    color: rgb(63, 123, 3);
    font-family: inter-bold;
}


#addBtn{
    font-size: 0.5em;
    font-family: inter-bold;
    width: 60px;
    height: 25px;
    border: none;
    background-color: rgb(255, 94, 0);
    color: white;
    border-radius: 9px;
}

#electronicsBtn{
    background-color: rgb(255, 94, 0);
    color: white;
    border: 1px inset white;
    height: 20px;
    font-size: 0.6em;
    width: 200px;
    border-radius: 9px;
}
#jewelryBtn{
    background-color: rgb(255, 94, 0);
    color: white;
    border: 1px inset white;
    height: 20px;
    font-size: 0.6em;
    width: 200px;
    border-radius: 9px;
}
#mensClothingBtn{
    background-color: rgb(255, 94, 0);
    color: white;
    border: 1px inset white;
    height: 20px;
    font-size: 0.6em;
    width: 300px;
    border-radius: 9px;
}
#womensClothingBtn{
    background-color: rgb(255, 94, 0);
    color: white;
    border: 1px inset white;
    height: 20px;
    font-size: 0.6em;
    width: 300px;
    border-radius: 9px;
}
footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inter-bold;
}

@media only screen and (max-width: 760px) {
    #electronicsBtn{
       
        font-size: 0.4em;
        width: 250px;
    }
    #jewelryBtn{

        font-size: 0.4em;

    }
    #mensClothingBtn{

        font-size: 0.4em;
        width: 330px;
    }
    #womensClothingBtn{

        font-size: 0.4em;
        width: 380px;
    }
    
}

@media only screen and (min-width: 761px) {
    #electronicsBtn{
       
        font-size: 0.5em;

    }
    #jewelryBtn{

        font-size: 0.5em;

    }
    #mensClothingBtn{

        font-size: 0.5em;
    }
    #womensClothingBtn{

        font-size: 0.5em;
    }
}


@media only screen and (min-width: 992px) {
    #electronicsBtn{
       
        font-size: 0.6em;

    }
    #jewelryBtn{

        font-size: 0.6em;

    }
    #mensClothingBtn{

        font-size: 0.6em;
    }
    #womensClothingBtn{

        font-size: 0.6em;
    }
}