@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;   
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, footer {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
nav select {
    margin-right: 10px;
}
nav .category-buttons {
    display: flex;
}
nav .category-buttons button {
    margin-right: 10px;
}